body {
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
    color: rgb(68, 68, 68);
}

.header {
    position: static;
}

.header__logo {
    color: rgb(183, 230, 235)
}

header a {
    color: rgb(183, 230, 235)
}

header nav a:hover {
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59)
}

main {
    padding-top: ;
}

main ul{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

main li:nth-of-type(3) {
    grid-column: 1 / 3;
}

main li {
    list-style: none;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

.item-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content h2 {
    margin: 0;
}

main img {
    width: 250px;
    height: 230px;
    object-fit: cover;
}

.actions {
    text-align: right;
}

main a {
    text-decoration: none;
    padding: .25em 1em;
    color: rgb(22, 211, 228);
    border-radius: 6px;

}

main a:hover {
    background-color: rgb(235, 253, 255);
}